pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #284B7E; }
a:visited { color: #284B7E; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#header{
	height: 100px;
	display: block;
	padding-left: 50px;
	background: #eee;
}

.content{
	width: 600px;
	margin: 50px auto 50px;
}

.nav{
	text-align: center;
}

.hint{
	font-size: 11px;
	font-style: italic;
	display: inline;
}

#posts_div{
	margin-bottom: 50px;
	background: #eee;
}

#concerts_div{
	margin-bottom: 50px;
	background: #eee;
}

.div_head{
	clear: both;
	width: 100px;
	background: yellow;
}

.concert_div{
	float: left;
	margin-left: 5px;
}

#posts_nav{
	float: left;
	width: 100px;
}

#posts{
	float: right;
	width: 500px;
}
